<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles.css">
    <title>Home</title>
</head>
<body>
    <div class="container">
        <div class="navbar">
            <h1 class="logo"><p class="crown-mobile">CROWN MOBILE</p></h1>
            <br>
            <a href="/" class="menu-item">Home</a>
            <a href="about.html" class="menu-item">About</a>
            <a href="contact.html" class="menu-item">Contact</a>
        </div>
    </div>
    <div class="iphone-container">
        <div class="iphone">
            <img src="static/img/sale.jpg" class="responsive-img" alt="ERR::error:: image processing failed">
            <h1 class="sale">Buy The New iPhone 16 On Sale Until Friday!!!</h1>
            <h1 class="join-2">Crown offers affordable plans, great customer service and a ton of Extras. All on our fast, reliable 5G network!</h1>
        </div>
    </div>
    <div class="text-container">
        <div class="text-slogan">
    </div>
    <div class="img-container">
        <span class="spacer"></span>
        <span class="spacer"></span>
        <button class="btn-card-0">
            <h4 class="prices-0">Bronze</h4>
            <h5 class="tier-0">Price: $20</h5>
            <br>
            <h5 class="tier-0">Unlimited Talk & Text</h5>
            <br>
            <h5 class="tier-0">First two months free</h5>
        </button>
        <span class="spacer"></span>
        <button class="btn-card">
            <h4 class="prices">Silver</h4>
            <h5 class="tier">Price: $50</h5>
            <br>
            <h5 class="tier">Unlimited Talk & Text</h5>
            <br>
            <h5 class="tier">Worldwide Connections</h5>
        </button>
        <span class="spacer"></span>
        <button class="btn-card-2">
            <h4 class="prices-2">Gold</h4>
            <h5 class="tier-2">Price: $150</h5> 
            <br>
            <h5 class="tier-2">Unlimited Talk & Text</h5>
            <br>
            <h5 class="tier-2">Worldwide Connections</h5>
        </button>
    </div>
    </div>
    <span class="spacer"></span>
    <span class="spacer"></span>
    <span class="spacer"></span>
    <span class="spacer"></span>
    <img src="static/img/iphone.png" id="iphone-id" class="responsive-img" alt="ERR::error:: image processing failed">
    <img src="static/img/iphone.png" id="iphone-id" class="responsive-img" alt="ERR::error:: image processing failed">
    <img src="static/img/iphone.png" id="iphone-id" class="responsive-img" alt="ERR::error:: image processing failed">
    <footer>
        <nav class="navbar2">
            <ul class="list2">
                <li class="list-item2">
                    <a id="nav2" href="subscribe.html">Subscribe</a>
                </li>
                <li class="list-item2">
                    <a id="nav2" href="socials.html">Socials</a>
                </li>
                <li class="list-item2">
                    <a id="nav2" href="careers.html">Careers</a>
                </li>
            </ul>
        </nav>
        <h5 class="L2">1448 SW 32th Blvd, 15120 Pittsburgh, PA</h5>
        <h6 class="L3">CrownMobile@Gmail.com | 412-329-7212</h6>
        <div class="copyright">
            <h6 id="copy-id"> Copyright © Developer All rights reserved</h6>
        </div>
    </footer>
</body>
</html>